[SECURITY]
#sign up and obtain a token from https://info.avwx.rest/
TOKEN=

[NETWORK]
TIMEOUT=10
USERAGENT=curl/7.87.0
PROTOCOL=https://
HOSTNAME=avwx.rest
METAR=/api/metar/
TAF=/api/taf/
NOTAM=/api/notam/
PARAMS=?options=speech&filter=speech,raw,density_altitude,pressure_altitude&format=json
PARAMSTAF=?options=speech&filter=speech,raw
[BEHAVIOR]
PERIOD = 1
NREQ = 100
[STATIONS]
AIRFIELDS = LFRO,LFRB,LFRQ,LFRN
[DATA]
AERODROMES_FILE=../data/XML_SIA_2023-10-05.xml
[AWS]
#sign up to or use an AWS account on https://aws.amazon.com/
#if you want to run this locally or remotely with AWS
#details on how to do it are out of scope of this file

#replace with your bucket name
BUCKET =
#replace with the secret you configured in secrets manager
SECRET_NAME =
#replace with the region you configured
REGION_NAME =
